h1 {
    color: blue;
    text-align: center;
    font-size: 2em;

}
h1 {
    background-color: #f9f9f9;
    padding: 10px;
}

@font-face {
    font-family: Arial;
    src: url(file:///C:/Users/danie/Desktop/Lab%201.1/index.html);
}

img {
    max-width: 60%;
    margin: bottom 20px;;
}

article {
    margin-top: 20px;
    border: 2px solid blue;
    padding: 15px;
    background-color: #f9f9f9;
}

li {
    list-style-type: square;
}